<% include partials/header %>
<div class="container-fluid container-interface">
    <div class="row">
        <div class="col-md-3">
            <div class="side-panel">
                <img class="gn-logo-interface" src="/images/gn-logo.png">
                <div class="btn-new-note">+ New Note</div>
                <div class="btn-new-binder">New Binder</div>
            </div>
        </div>
        <div class="col-md-9">

        </div>
    </div>
</div>
<% include partials/footer %>