<% include partials/header %>
<div class="dark-overlay">
</div>
<div class="container-fluid container-landing">
    <div style="display:flex; justify-content:center; align-items:center;">
        <div class="popup-box center-block" id="popup-sign-up">
            <div class="popup-header">
                SIGN UP
                <div class="popup-close" style="text-align: center; line-height: 1.8vh;">
                    <span style="position: relative;">x</span>
                </div>
            </div>
            <div class="popup-body">
                <form class="popup-form" id="popup-sign-up-form">
                    <input type="text" placeholder="Email address" id="popup-sign-up-form-email"><br>
                    <input type="password" placeholder="Password" autocomplete="off">
                    <span class="popup-text-hint">By signing up you agree to our <a>Terms</a> and <a>Privacy Policy</a></span>
                    <button class="popup-form-submit" onclick="document.getElementById('popup-sign-up-form').submit()">Sign Up</button>
                </form>
            </div>
        </div>
        <div class="popup-box center-block" id="popup-log-in">
            <div class="popup-header">
                LOG IN
                <div class="popup-close" style="text-align: center; line-height: 1.8vh;">
                    <span style="position: relative;">x</span>
                </div>
            </div>
            <div class="popup-body">
                <form class="popup-form" id="popup-log-in-form">
                    <input type="text" placeholder="Email address" id="popup-log-in-form-email"><br>
                    <input type="password" placeholder="Password" autocomplete="off">
                    <span class="popup-text-hint"><a>I forgot my password</a></span>
                    <button class="popup-form-submit" onclick="document.getElementById('popup-log-in-form').submit()">Log In</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <img class="gn-logo-landing" src="/images/gn-logo.png">
    </div>
    <h1 class="tagline-h1">Just the good stuff.</h1>
    <h1 class="tagline-h2">Summarize text and audio.</h1>
    <div class="row" style="text-align: center;">
        <div class="col-lg-2  col-lg-offset-4">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                <a href="#"><img class="btn-sign-up" src="/images/btn-sign-up.png"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="row">
                <div class="col-lg-4">
                    <a href="#"><img class="btn-log-in" src="/images/btn-log-in.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>