<% include partials/header %>

<div class="container">
    <div class="row">
        <img class="gn-logo-landing" src="/images/gn-logo.png">
    </div>
    <h1 class="tagline-h1">Just the good stuff.</h1>
    <h1 class="tagline-h2">Summarize text and audio.</h1>
</div>
<% include partials/footer %>