/*
Colours
  _____ ____  _      ____  _    _ _____   _____
 / ____/ __ \| |    / __ \| |  | |  __ \ / ____|
| |   | |  | | |   | |  | | |  | | |__) | (___
| |   | |  | | |   | |  | | |  | |  _  / \___ \
| |___| |__| | |___| |__| | |__| | | \ \ ____) |
 \_____\____/|______\____/ \____/|_|  \_\_____/
  Colour           |   Type   |  Hex
 ------------------|----------|-------
  Silver Chalice   | Neutral  | #A7A7A7
*/

/*
Fonts
 ______ ____  _   _ _______ _____
|  ____/ __ \| \ | |__   __/ ____|
| |__ | |  | |  \| |  | | | (___
|  __|| |  | | . ` |  | |  \___ \
| |   | |__| | |\  |  | |  ____) |
|_|    \____/|_| \_|  |_| |_____/
*/
/*
Lato
font-family: 'Lato', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Lato');

/*
 General
   _____ ______ _   _ ______ _____            _
  / ____|  ____| \ | |  ____|  __ \     /\   | |
 | |  __| |__  |  \| | |__  | |__) |   /  \  | |
 | | |_ |  __| | . ` |  __| |  _  /   / /\ \ | |
 | |__| | |____| |\  | |____| | \ \  / ____ \| |____
  \_____|______|_| \_|______|_|  \_\/_/    \_\______|
 */

.container-landing {
    width: 100vw;
    height: 100vh;
    background: url("/images/bluegradient.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

.container-interface {
    width: 100vw;
    height: 100vh;
    background-color: #fcfcfc;
}

.container-interface > .row > .col-md-3 {
    padding-left: 0;
    padding-right: 90px;
}


.side-panel {
    height: 100vh;
    background-color: #2b2e37;
}


.gn-logo-landing {
    position: relative;
    top: 20vh;
    display: block;
    margin: 0 auto;
    width: 22vw;
    height: auto;
}

.tagline-h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #fcfcfc;
    position: relative;
    top: 20vh;
    text-align: center;
    font-size: 7vh;
}

.tagline-h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #fcfcfc;
    position: relative;
    top: 18vh;
    text-align: center;
    font-size: 4vh;
}

.btn-sign-up {
    position: relative;
    height: 8vh;
    top: 20vh;
    margin-bottom: 25px;
    transition: 0.2s;
}

.btn-log-in {
    position: relative;
    height: 8vh;
    top: 20vh;
    transition: 0.2s;
}

.btn-sign-up:hover,
.btn-log-in:hover {
    opacity: 0.7;
}

.dark-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: Black;
    opacity: 0.7;
    z-index: 100;
    display: none;
}