/*
Colours
  _____ ____  _      ____  _    _ _____   _____
 / ____/ __ \| |    / __ \| |  | |  __ \ / ____|
| |   | |  | | |   | |  | | |  | | |__) | (___
| |   | |  | | |   | |  | | |  | |  _  / \___ \
| |___| |__| | |___| |__| | |__| | | \ \ ____) |
 \_____\____/|______\____/ \____/|_|  \_\_____/
  Colour           |   Type   |  Hex
 ------------------|----------|-------
  Silver Chalice   | Neutral  | #A7A7A7
*/

/*
Fonts
 ______ ____  _   _ _______ _____
|  ____/ __ \| \ | |__   __/ ____|
| |__ | |  | |  \| |  | | | (___
|  __|| |  | | . ` |  | |  \___ \
| |   | |__| | |\  |  | |  ____) |
|_|    \____/|_| \_|  |_| |_____/
*/
/*
Lato
font-family: 'Lato', sans-serif;
*/
@import url('https://fonts.googleapis.com/css ?family=Lato');
/*
 General
   _____ ______ _   _ ______ _____            _
  / ____|  ____| \ | |  ____|  __ \     /\   | |
 | |  __| |__  |  \| | |__  | |__) |   /  \  | |
 | | |_ |  __| | . ` |  __| |  _  /   / /\ \ | |
 | |__| | |____| |\  | |____| | \ \  / ____ \| |____
  \_____|______|_| \_|______|_|  \_\/_/    \_\______|
 */

.container-landing {
    width: 100vw;
    height: 100vh;
    background: url("/images/bluegradient.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    overflow: hidden;
}

.container-interface {
    width: 100vw;
    height: 100vh;
    background-color: #fcfcfc;
}

.container-interface > .row > .col-md-3 {
    padding-left: 0;
    padding-right: 90px;
}

.side-panel {
    height: 100vh;
    background-color: #2b2e37;
    padding: 18px;
}

.gn-logo-landing {
    position: relative;
    top: 20vh;
    display: block;
    margin: 0 auto;
    width: 22vw;
    height: auto;
}

.gn-logo-interface {
    position: relative;
    width: 8vw;
    opacity: 0.5;
}

.tagline-h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #fcfcfc;
    position: relative;
    top: 20vh;
    text-align: center;
    font-size: 7vh;
}

.tagline-h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #fcfcfc;
    position: relative;
    top: 18vh;
    text-align: center;
    font-size: 4vh;
}

.btn-sign-up {
    position: relative;
    height: 8vh;
    top: 20vh;
    margin-bottom: 25px;
    transition: 0.2s;
}

.btn-log-in {
    position: relative;
    height: 8vh;
    top: 20vh;
    transition: 0.2s;
}

.btn-new-note {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #fcfcfc;
    font-weight: 100;
    font-size: 2.5vh;
    line-height: 9.2vh;
    height: 10vh;
    width: 16vw;
    background-color: #0d4c6e;
    margin-top: 16px;
    border-radius: 14px;
    transition: 0.2s;
}

.btn-new-note:hover {
    background-color: #15506e;
    cursor: pointer;
}

.btn-new-binder {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    line-height: 3.4vh;
    padding-left: 13px;
    font-size: 1.3vh;
    background-color: #484b5c;
    color: #f3f3f3;
    height: 3.5vh;
    width: 16vw;
    margin-top: 10px;
    transition: 0.2s;
}

.btn-new-binder:hover {
    background-color: #4f5262;
    cursor: pointer;
}

.btn-sign-up:hover,
.btn-log-in:hover {
    opacity: 0.7;
}

.dark-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: Black;
    opacity: 0.7;
    z-index: 1;
    display: none;
}

.popup-box {
    font-family: 'Lato', sans-serif;
    position: absolute;
    z-index: 2;
    background-color: #9bdcff;
    border-radius: 7px;
    padding: 0;
    top: 20vh;
    width: 17vw;
    display: none;
}

.popup-header {
    height: 4vh;
    background-color: #32b3ff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin: 0;
    font-size: 1.6vh;
    font-weight: 800;
    line-height: 4vh;
    padding-left: 14px;
}

.popup-close {
    position: relative;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    padding: 0;
    background-color: #f3f3f3;
    border-radius: 100%;
    width: 2.4vh;
    height: 2.4vh;
    border: 0.1vh solid #30475A;
}

.popup-close:hover {
    cursor: pointer;
}

.popup-body {
    padding: 7px;
}

.popup-form > input[type="text"],
.popup-form > input[type="password"] {
    font-size: 1.5vh;
    border-radius: 3px;
    width: 100%;
    border: 1px solid #f3f3f3;
    height: 3.5vh;
    margin-bottom: 2px;
    padding-left: 4px;
}

.popup-form > input[type="text"]:focus,
.popup-form > input[type="password"]:focus {
    outline: none;
    border: 1px solid #9fc7d3;
}

.popup-text-hint {
    font-size: 1.4vh;
}

.popup-form-submit {
    margin-top: 7px;
    width: 100%;
    font-size: 1.5vh;
    height: 4vh;
    background-color: #32b3ff;
    border-radius: 2px;
    border: none;
    transition: 0.2s;
}

.popup-form-submit:focus {
    outline: none;
}

.popup-form-submit:hover {
    background-color: #0ebfff;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}